.about-container
  background-image: url('../assets/about-bg.jpg')
  .row
    align-items: flex-start
    +from($ipad-width)
      flex-direction: row
  .about-image
    box-shadow: 10px 12px 18px 0 rgba(0,0,0,.438), -10px 12px 18px 0 rgba(0,0,0,.411)
    border-radius: 0.25rem
    margin-bottom: 2rem
    height: 250px
    width: 100%
    +from($ipad-width)
      height: auto
      margin-bottom: 0
  .about-hide
    opacity: 0
    transform: translate(0, -30px)
    transition: all 1s
    &.active
      opacity: 1
      transform: translate(0, 0)
  .my-introduce
    background: rgba(65,65,65,.568)
    border-radius: 10px
    color: $c-white
    text-shadow: 3px 3px 6px #000
    text-align: left
    padding: 1.5rem
    width: 100%
    > p
      margin-bottom: 1rem
      font-weight: 600