.works-container
  background: linear-gradient(to right bottom, rgb(0, 38, 75), rgb(51, 23, 56))
  min-height: 100vh
  .transform_3d
    perspective: 1200px
    padding: 40px 10px
  .my-card
    margin: 0 15px
    box-shadow: 0px 16px 14px 2px rgba(0, 0, 0, 0.438)
    transition: all 0.4s
    transform-style: preserve-3d
    transform: rotatex(30deg)
    &:hover
      transform: scale(1.1, 1.1)
    .my-card-image
      width: 300px
      height: 165px
      cursor: pointer
  .title
    padding: 1.5rem 0
    color: $c-white
    font-size: 1.75rem